html {
    background-color: bisque;
}
h1 {
   color: coral;
   text-align: center; 
}

.friend {
    background-color: darkgoldenrod;
    
}

.friend h3 {
    text-transform: uppercase;
}

p {
    color: rgb(34, 30, 30);
}